

.navbar {
    background-color: #63F4F8;
}

.quem-somos {
    background-color: #57D9B8;
    color: white;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #6CF0AA;
    color: white;
}
.servicos {
    background-color: #57D96F;
    color: white;
}
.bg-footer {
    background-color: #76F863;
    color: white;
}